* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #b3e7ff;
}

header {
    border: 2px solid black;
}

header ul {
    margin-bottom: 1%;
    font-size: 20px;
}

header ul li {
    display: inline-block;
}

#highScor {
    padding-left: 8%;
    padding-right: 60%;
    width: 150px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    border-radius: 5px;
    background-color: black;

}

h1 {
    display: grid;
    place-items: center;
    height: 100px;
    font-size: 50px;
    font-style: italic
}

.btn{
    text-align: center;
    margin-top: 10%;
   
}